<div> 
    <hr>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">nome do ambiente</th>
            <th scope="col"></th>
            <th scope="col">
                <button class="btn btn-success" id="moverItem" >Mover item/s</button>
                <button id="updateDetails" class="btn btn-danger" >Excluir</button>   
             <!--<input type="button" value="Excluir" class="btn btn-danger" onclick="funcao1()"> -->   
            </th>
          </tr>
        </thead>
        <tbody>
            <% arvore.forEach(function(arvore){%> 
                <tr>
                    <td><%= arvore.nome%></td>
                    <td><button class="btn btn-warning">Editar</button></td>
                    <td><input type="checkbox" name="" onclick="abilitar()" id="loc"></td>
                </tr> 
            <% }) %>
        </tbody>
      </table>
<script>
    let input = document.querySelector(".input");
    let button = document.querySelector(".button");
    button.disabled = true;
    input.addEventListener("change", stateHandle);
    function stateHandle() {
        if (document.querySelector(".input").value === "") {
            button.disabled = true; 
        } else {
            button.disabled = false;
        }
    }

    function abilitar(){
    let checkbox = document.getElementById('loc');
    var desa1 = document.getElementById('updateDetails').disabled;
    var desa2 = document.getElementById('moverItem').disabled;

    if(checkbox.checked)
        desa1.disabled = false, 
        desa2.disabled = false;
    else
        
        desa1.disabled = true, 
        desa2.disabled = true;
    }
    </script>
</div>