body{
    background-color: green;
    
}
h1{
    color: red;
}

#backBranco{
    margin-top: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/*----------login -------------*/

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #fdfdfd;
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fafafa;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover{
    background: #fff;
    color: rgb(0, 90, 38);
    border-radius: 5px;
}

/*----------login fim -------------*/

#backVerde{
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin-top: 70px;
    margin-bottom: 30px;
}

.bordaBr{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255); /* red */
}

#minhaDiv{
    display: none;
}

#lista{
    display: none;
}

.meiaDiv{
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    min-height:200px;
    max-height:200px;
    overflow-y:auto;
    box-shadow: 0px 0px 10px rgb(1, 31, 7);
    width: 100%;
} 
#largura1{
    display: inline-block;
    min-width: 66%;
}
#largura2{
    display: inline-block;
    min-width: 33%;
}
#botao{
    border-radius: 5px;
    background-color: aquamarine;
}
#largura3{
    display: inline-block;
    min-width: 99%;
}
#largura4{
    display: inline-block;
    width: 49%;
    margin: auto;
}

#favDialog{
    background-color: green;
    border-radius: 10px;
    color: #fff;
}