<%- include('../partials/header.ejs');-%>
<%- include('../partials/nav2.ejs');-%>
<div>
    <div class="login-box">
        <h2>Login</h2>
        <form action="">
            <div class="user-box">
                <input type="text" name="" required="">
                <label for="">Usuário</label>
            </div>
            <div class="user-box">
                <input type="password" name="" id="" required="">
                <label for="">Senha</label>
            </div>
            <a href="/cadastro-de-ambiente">
                ENTRAR
            </a>
    
            <a href="#">
                CADASTRAR-SE
            </a>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs');-%>